<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Принять сотрудников</title>
</head>
<body>
<form action="{{url_for('user',user_id=user_id)}}">
    <button type="submit">Моя страница</button>
</form>
<br>
<form action="/logout">
    <button type="submit">Выйти</button>
</form>
{% if get_flashed_messages() %}
    <p>{{ get_flashed_messages()[0] }}</p>
{% endif %}
<p>Пользователи</p>
{% for user in users%}
<a href="{{url_for('user',user_id=user.id)}}">{{user.name}} {{user.surname}}</a>
    <form action="{{url_for('change',user_id=user.id,var='add_staff')}}">
    <button type="submit">Принять</button>
</form><br><br>
{% endfor %}


</body>
</html>