<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<p>Имя: {{user.name}}</p>
<p>Фамилия: {{user.surname}}</p>
{% if dis_indic %}
    <p>E-mail: {{user.email}}</p>
    <p>Телефон: {{user.phone}}</p><br>
{% else %}
    {% if local_indic %}
    <p>E-mail: {{user.email}}</p>
    <p>Телефон: {{user.phone}}</p><br>
    {% endif %}
{% endif %}
<a href="{{url_for('local',dep_id=dep.id)}}">{{ dep.name }}</a>
<br>

{% if user.id==cur_user_id %}
    {% if post!='Сотрудник' and post!='Пользователь' %}
        <form action="/add_staff">
            <button type="submit">Принять сотрудников</button>
        </form>
    {% endif %}
{% else %}
        {% for act in actions %}
            {% if act in opportunities%}
                {% if dis_indic %}
                    <form action="{{url_for('change',user_id=user.id,var=act)}}">
                        <button type="submit">{{actions[act][0]}}</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endfor %}
{% if get_flashed_messages() %}
    <p>{{ get_flashed_messages()[0] }}</p>
{% endif %}
    <form action="{{url_for('user',user_id=cur_user_id)}}">
        <button type="submit">Моя страница</button>
    </form>
{% endif %}
<br>
<form action="/logout">
    <button type="submit">Выйти</button>
</form>
</body>
</html>