<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
</head>
<body>
<h1>Страница пользователя</h1>
<big>
<p>Имя: {{user.name}}</p>
<p>Фамилия: {{user.surname}}</p>
{% if current_user.is_authenticated %}
    {% if dis_indic or local_indic and post!='Пользователь'%}
        <p>E-mail: {{user.email}}</p>
        <p>Телефон: {{user.phone}}</p><br>
        <p>Должности сотрудника: </p>
        {% for post in user_posts %}
        <p>{{ post.post }} c {{ post.employment_date }}{% if post.dismissal_date %} по {{ post.dismissal_date }}{% endif %}</p>
        {% endfor %}
    {% endif %}
    <a href="{{url_for('local',dep_id=dep.id)}}">{{ dep.name }}</a>
    <br>

    {% if user.id==cur_user_id %}
        {% if post!='Сотрудник' and post!='Пользователь' %}
            <form action="/add_staff">
                <button type="submit">Принять сотрудников</button>
            </form>
        {% endif %}
    {% else %}
        <ul>
                {% if dis_indic %}
                    {% if advisor_indic %}
                        <form action="{{url_for('change',user_id=user.id,var='dis_advisor')}}">
                            <p><li><button type="submit"><big>Удалить из консультационного совета</big></button></li></p>
                        </form>
                    {% else %}
                        <form action="{{url_for('change',user_id=user.id,var='advisor')}}">
                            <p><li><button type="submit"><big>Добавить в консультационный совет</big></button></li></p>
                        </form>
                    {% endif %}
                {% endif %}
            {% for act in actions %}
                {% if act in opportunities%}
                    {% if dis_indic %}
                        <form action="{{url_for('change',user_id=user.id,var=act)}}">
                            <li><button type="submit"><big>{{actions[act][0]}}</big></button></li><br>
                        </form>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% if get_flashed_messages() %}
        <p>{{ get_flashed_messages()[0] }}</p>
    {% endif %}
        <form action="{{url_for('user',user_id=cur_user_id)}}">
            <button type="submit">Моя страница</button>
        </form>
    {% endif %}
    <br>
    <form action="/logout">
        <button type="submit">Выйти</button>
    </form>
{% else %}
    <p>Просмотр страницы доступен только сотрудникам</p>
    <form action="/login">
        <button>Войти</button>
    </form>
    <form action="/signup">
        <button>Зарегистрироваться</button>
    </form>
{% endif %}
</big>
</body>
</html>